@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply bg-primary text-white hover:bg-blue-700 transition-colors outline-none 
		disabled:bg-opacity-70 disabled:hover:bg-primary
		focus:ring;
		padding: 9px 12px;
		border-radius: 5px;
	}

	.google {
		@apply bg-white text-primary hover:bg-light-blue transition-colors outline-none focus:ring border border-primary;
	}
}

.loading {
	position: relative;
	color: transparent;
}
