
@tailwind base;
@tailwind components;
@tailwind utilities;

.step {
  @apply h-10 w-10 rounded-full transition-all relative
  flex justify-center items-center text-white;
}

.step span {
  font-size: 20px !important;
  font-weight: bold;
}

.step:not(:first-child)::before {
  @apply bg-gray-200;
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: calc(100% + 4px);
  height: 4px;
  width: 1.25rem;
}

.step.active {
  border: 10px solid;
  @apply border-primary;
}

.step.active::before {
  @apply bg-primary;
  right: calc(100% + 10px);
}

.step.done {
  @apply bg-primary;
}

.step.done::before {
  @apply bg-primary;
  right: 100%;
}

.step.incomplete {
  @apply border-4;
}