@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-container {
	@apply fixed grid;
	inset-block-end: 0;
	inset-inline: 0;
	-webkit-padding-after: 5vh;
	padding-block-end: 5vh;
	justify-items: center;
	justify-content: center;
	gap: 1vh;
	pointer-events: none;
	transition: transform 250ms ease;
}

.toast-message {
	@apply px-3 py-2 bg-gray-800 text-white rounded-md;
}

.toast-message-enter {
	opacity: 0;
	transform: translateY(100%);
}

.toast-message-enter-to {
	opacity: 1;
	transition: all 250ms;
}
.toast-message-exit {
	opacity: 1;
}
.toast-message-exit-to {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 250ms, transform 250ms;
}
