@tailwind base;
@tailwind components;
@tailwind utilities;

table {
	@apply table-auto w-full text-gray-600;
}

table thead {
	@apply bg-gray-100 rounded-2xl;
}

table th {
	@apply text-left text-base px-8;
	padding-top: 10px;
	padding-bottom: 10px;
}

table th:first-child {
	border-radius: 10px 0 0 10px;
}

table th:last-child {
	border-radius: 0 10px 10px 0;
}

table tbody tr:hover {
	@apply hover:bg-gray-100;
}

table td {
	@apply text-base px-4 py-2 2xl:py-5 xl:px-8;
}

table td:first-child {
	border-radius: 10px 0 0 10px;
}

table td:last-child {
	border-radius: 0 10px 10px 0;
}
